// fonts


$raleway-font: 'Raleway', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$montserrat-font: 'Montserrat', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

// Breakpoins
$media-tablet: 600px;
$media-nav: 960px;
$media-desktop: 1024px;
$media-wide-desktop: 1200px;
