@import '../../styles/theme';

.header {
  background-color: #000;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 40px;
  position: relative;
  z-index: 1;
}

.header__logo {
  left: 0;
  top: 1px;
  position: absolute;
  z-index: 2;
}

.header__menu {
  position: relative;
  width: 100%;

  @media (min-width: $media-nav) {
    width: auto;
  }
}

.header__menu--active {
  transform: translateY(0);
  opacity: 1;
}

.header__burger {
  z-index: 3;
}
