@import '../../styles/theme';

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  &:nth-child(1) {
    background-color: #307;
  }

  &:nth-child(2) {
    background-color: #703;
  }

  &:nth-child(3) {
    background-color: #370;
  }
}