.page {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.page__header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.page__content {
  position: relative;
}

.page__main {
  min-height: 100vh;
  position: relative;
  width: 100%;
}
